<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <%- include('../components/header.ejs') %> Check your Database or
    Console.logs
    <div>
      <a href="/database">Home</a>
    </div>
    <div>
      <a href="/database/transfercollections">Transfer Collections</a>
    </div>
    <div>
      <a href="/database/updatecollections">Update Collections</a>
    </div>
    <div><a href="/database/newcollections">New Collections</a></div>
    <div>
      <a href="/database/changeurlandsrc">Change URL and SRC</a>
    </div>

    <%- include('../components/footer.ejs') %>
  </body>
</html>
