<header>
  <div>
    <a href="/">
      <img src="./images/favicon.png" alt="Favicon" width="100px"
    /></a>
  </div>

  <div>
    <% if (currentUser) {%>
    <!-- Setup a Cart / POS System / Track Transactions -->
    <a href="/transaction">Transactions</a>

    <!-- Setup a Inventory System -->
    <!-- <a href="/inventory">Inventory</a> -->

    <!-- Pricing & Services Info -->
    <a href="/services">Services</a> 



    <!-- Pricing & Products Info -->
    <!--  <a href="/products">Products</a> -->

    <!-- Customer Consent Forms -->
      <!--  <a href="/forms">Forms</a> -->

    <!-- Customer Ticketing System -->
    <!-- <a href="/ticket">Ticketing</a> -->

    <!-- Customer System -->
    <!-- <a href="/marketing">Marketing</a> -->
    
    <a href="/logout">Log Out</a>

    <img src="./images/<%= currentUser.avatar%>.svg" alt="A" width="20px" />

    <%} else { %>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <% } %>
  </div>
</header>
