<header>
  <div>
    <a href="/">
      <img class="favicon" src="./images/favicon.png" alt="Favicon" width="100px"
    /></a>
  </div>

  <div>
    <% if (currentUser) {%>

    <!-- <a href="/transaction">Transactions</a> -->


    <!-- Pricing & Services Info -->
    <a href="/services">Services</a> 

    <% if (currentUser.isAdmin == 'true') {%>
   <a href="/database">Database</a> 
   <%  } %>

    <a href="/logout">Log Out</a>

      <img src="./images/<%= currentUser.avatar%>.svg" alt="A" width="20px" class="profile" /> 

    <%} else { %>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>

    <% } %>
  </div>
</header>
