<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>

  <body>
    <%- include('./components/header.ejs') %>

    <h1>Login</h1>
    <div>
      <p>Don't have an account?</p>
      <a href="/signup"> Sign up </a>
    </div>

    <form class="login" action="/login" method="POST" autocomplete="on">
      <section>
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          type="text"
          autocomplete="username"
          placeholder="Username"
          required
          autofocus
        />
      </section>
      <section>
        <label for="current-password">Password</label>
        <input
          id="current-password"
          name="password"
          type="password"
          placeholder="Password"
          autocomplete="current-password"
          required
        />
      </section>
      <button type="submit">Login</button>
    </form>

    <%- include('./components/footer.ejs') %>
  </body>
</html>
