<nav>
  <ul>
    <li>
      <a href="/">
        <img src="./images/favicon.png" alt="Favicon" width="100px"
      /></a>
    </li>
  </ul>
  <ul>
    <% if (currentUser) {%>
    <li>
      <a href="/transaction">Transactions</a>
    </li>
   
    <li>
      <img src="./images/<%= currentUser.avatar%>.png" alt="A" width="20px" />
    </li>

    <li>
      <a href="/logout">Log Out</a>
    </li>
    <%} else { %>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/signup">Sign Up</a>
    </li>
    <% } %>
  </ul>
</nav>
