<!DOCTYPE html>
<html lang="en">
  <%- include('./head.ejs') %>

  <body>
    <%- include('./header.ejs') %> 
    <% if(typeof alert != 'undefined'){ %> <%
    alert.forEach((err)=>{ %>
    <p><%= err.msg %></p>
    <% }) %> <% } %>

    <form class="signup" action="/signup" method="post" autocomplete="on">
      <h1>Sign Up</h1>
      <p>Already registered? <a href="/login">Log in </a></p>

      <section>
        <label for="username">Username</label>
        <input
          name="username"
          type="text"
          autocomplete="username"
          autofocus
          required
        />
      </section>
      <section>
        <label for="current-password">Password</label>
        <input
          name="password"
          type="password"
          autocomplete="current-password"
          required
        />
      </section>
      <section>
        <label for="current-password">Confirm Password</label>
        <input
          name="confirmPassword"
          type="password"
          autocomplete="current-password"
          required
        />
      </section>
<!--Become An Admin-->
      <label for="passcode">Enter the Admin Passcode:</label><br />
      <input type="password" name="isAdmin"  /><br />

      <section>
        <p>Select Avatar</p>

        <input type="radio" value="Avatar1" name="avatar" required />
          <label for="Avatar1">Avatar1</label><br />
<img src="./images/Avatar1.png" alt="Avatar 1" width="100px"/>

        <input type="radio" value="Avatar2" name="avatar" required />
          <label for="Avatar2">Avatar2</label><br />
        <img src="./images/Avatar2.png" alt="Avatar 2" width="100px"/>

        <input type="radio" value="Avatar3" name="avatar" required />
          <label for="Avatar3">Avatar3</label><br />
        <img src="./images/Avatar3.png" alt="Avatar 3" width="100px"/>

      </section>

      <button type="submit">Register</button>
    </form>
  </body>
</html>
