h1 {
  display: flex;
  justify-content: center;
  margin: 20px;
}
h2,h4{
  display: flex;
  justify-content: center;
}
div {
  display: flex;
  justify-content: center;
  h1 {
    margin-top: 30px;
  }
  a {
    text-decoration: underline;
  }
}

.transaction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  text-align: center;
  input {
    padding: 10px;
  }
  button {
    padding: 10px;
    margin-top: 20px;
    background-color: #e2dc1f;
  }
  section {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}




/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }


  /*  Styling Filters */

  .selectFilter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    text-align: center;
    input {
      padding: 10px;
    }
    button {
      padding: 10px;
      margin-top: 20px;
      background-color: #e2dc1f;
    }
    section {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }


  .noTransactions{
    display: flex;
    justify-content: center;
    margin: 20px;
  }

 