<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <%- include('../components/header.ejs') %>

    <h1>General Form</h1>
    <p>LML REPAIR RELEASE FORM</p>

    <form class="" action="/forms/general" method="POST" autocomplete="on">
      <!-- Promotional Video Thing -->
      <section>
        <p>
          Interested in a FREE Case for participating in a short promotional
          video
        </p>

        <input type="radio" value="Yes" name="" required />
          <label for="Yes">Yes</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">No</label><br />
      </section>

      <!-- Customer Info  -->
      <section>
        <label for="">First Name</label>
        <input
          name=""
          type="text"
          placeholder="First Name"
          autocomplete=""
          autofocus
          required
        />
      </section>
      <section>
        <label for="">Last Name</label>
        <input
          name=""
          type="text"
          placeholder="Last Name"
          autocomplete=""
          autofocus
          required
        />
      </section>
      <section>
        <p>Best method to contact for repair updates?</p>

        <input type="radio" value="Email" name="" required />
          <label for="Email">Email</label><br />

        <input type="radio" value="Text" name="" required />
          <label for="Text">Text</label><br />
      </section>

      <section>
        <label for="">Phone Number (for repair update purposes)</label>
        <input name="" type="number" autocomplete="" autofocus required />
      </section>
      <section>
        <label for="">Email ( for repair update purposes)</label>
        <input name="" type="email" autocomplete="" autofocus required />
      </section>

      <!-- Device Info-->

      <section>
        <label for="">Device Model</label>
        <input name="" type="text" autocomplete="" autofocus required />
      </section>
      <section>
        <label for="">Device Color</label>
        <input name="" type="text" autocomplete="" autofocus required />
      </section>
      <section>
        <label for="">IMEI</label>
        <input name="" type="text" autocomplete="" autofocus required />
      </section>

      <section>
        <label for="">Serial Number</label>
        <input name="" type="text" autocomplete="" autofocus required />
      </section>

      <section>
        <p>Carrier</p>

        <input type="radio" value="T-Mobile" name="" required />
          <label for="T-Mobile">T-Mobile</label><br />

        <input type="radio" value="Sprint" name="" required />
          <label for="Sprint">Sprint</label><br />

        <input type="radio" value="Verizon" name="" required />
          <label for="Verizon">Verizon</label><br />

        <input type="radio" value="AT&T" name="" required />
          <label for="AT&T">AT&T</label><br />

        <input type="radio" value="Metro by T-Mobile" name="" required />
          <label for="Metro by T-Mobile">Metro by T-Mobile</label><br />

        <input type="radio" value="other" name="" required />
          <label for="other">other</label><br />
      </section>

      <section>
        <label for="">ACCOMPANYING DEVICES (REPAIRS NEEDED)</label>
        <textarea name="message" rows="5" cols="30" required></textarea>
      </section>

      <section>
        <label for="">SCREEN LOCK PASSWORDS</label>
        <input name="" type="text" autocomplete="" autofocus required />
      </section>
      <!-- Repair Info -->
      <section>
        <label for="">Repair Type</label>
        <select id="" name="">
          <option value="screen">Screen</option>
          <option value="battery">Battery</option>
          <option value="frontcamera">Front Camera</option>
          <option value="rearcamera">Rear Camera</option>
          <option value="rearcameralens">Rear Camera Lens</option>
          <option value="lcd">LCD</option>
          <option value="lcd screen">LCD + Screen</option>
          <option value="back glass">Back Glass</option>
          <option value="charging port">Charging Port</option>
          <option value="earpiece">Earpiece</option>
          <option value="loudspeaker">Loudspeaker</option>
          <option value="data transfer">Data Transfer</option>
          <option value="cleaning">Cleaning</option>
          <option value="unlocking">Unlocking</option>
          <option value="troubleshooting">Troubleshooting</option>
          <option value="hdmi">HDMI</option>
          <option value="diagnosis">Diagnosis</option>
          <option value="other">Other</option>
        </select>
      </section>

      <section>
        <label for="">If Selected 'Other': Specify</label>
        <input name="" type="text" autocomplete="" autofocus required />
      </section>

      <section>
        <p>Choose Quality Part (Limited Availability)</p>

        <input type="checkbox" value="Yes" name="" required />
          <label for="Yes">Regular Quality (Aftermarket)</label><br />

        <input type="checkbox" value="No" name="" required />
         
        <label for="No"
          >Premium Quality (Longer lasting, better performance/reliable)(extra
          charge apply)</label
        ><br />
      </section>

      <section>
        <p>Device Cleaning ($10)</p>

        <input type="radio" value="Yes" name="" required />
          <label for="Yes">Yes</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">No</label><br />
      </section>

      <section>
        <p>Want a Screen Protector?</p>

        <input type="radio" value="Yes" name="" required />
          <label for="Yes">Yes</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">No</label><br />
      </section>

      <section>
        <p>Want a Protective Case?</p>

        <input type="radio" value="Yes" name="" required />
          <label for="Yes">Otter Box Case</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">Clear Case</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">No, Thank You</label><br />
      </section>

      <section>
        <p>Want a Charger ($15)</p>

        <input type="radio" value="No" name="" required />
          <label for="No">Yes</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">No</label><br />
      </section>

      <section>
        <p>Want Earphones ($15)</p>

        <input type="radio" value="No" name="" required />
          <label for="No">Wired Earphones (10)</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">Premium Airpod Pro (80)</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">Premium Wireless Buds+ (28)</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">Earpods (20)</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">None</label><br />
      </section>

      <section>
        <p>CHOOSE YOUR PROTECTION PLAN</p>

        <input type="checkbox" value="Yes" name="" required />
          <label for="Yes">Standard Warranty (10/Month)</label><br />

        <input type="checkbox" value="No" name="" required />
         
        <label for="No">No Protection (All Sales Final)</label><br />
      </section>

      <section>
        <label for="">Estimated Repair Time</label>
        <select id="" name="">
          <option value="screen">Screen</option>
          <option value="battery">Priority Service (1-2hrs)(+$20)</option>
          <option value="frontcamera">End of Business Day</option>
          <option value="rearcamera">Next Business Day</option>
        </select>
      </section>

      <section>
        <p>Phone Rental (for during repair) ($20)</p>

        <input type="radio" value="No" name="" required />
          <label for="No">Yes</label><br />

        <input type="radio" value="No" name="" required />
          <label for="No">No</label><br />
      </section>

      <section>
        <label for=""
          >Receive Discount with device(s) trade-in. If interested , enter
          device information & any issues with the device(s).
        </label>
        <textarea name="message" rows="5" cols="30" required></textarea>
      </section>

      <section>
        <label for="">Repair Price (for technician to fill out)</label>
        <input name="" type="text" autocomplete="" autofocus required />
      </section>

      <section>
        <label for=""
          >Select a Payment Method (9% processing fees apply except Cash or
          Zelle)*
        </label>
        <select id="" name="">
          <option value="screen">Cash</option>
          <option value="battery">Zelle</option>
          <option value="frontcamera">Venmo</option>
          <option value="rearcamera">Cashapp</option>
          <option value="rearcameralens">Debit Card</option>
          <option value="rearcamera">Credit Card</option>
          <option value="rearcameralens">Gift Card</option>
          <option value="rearcameralens">Other</option>
        </select>
      </section>

      <pre>
        TERMS & CONDITIONS

Please Read the Information below completely then fill out before submitting.

 


I, the undersigned customer, hereby grant authorization to LML Repair for the diagnosis and repair of the device identified above. Additionally, I authorize LML Repair to perform the requested repair/service on my device as described above. I grant permission to LML REPAIR to perform any action deemed necessary in an attempt to repair my device.

 


I understand that the repair process may necessitate the opening of the device, which may void any applicable manufacturer warranties.

 


I acknowledge and agree to pay LML Repair a diagnostic fee of 40.00 USD for each device. This fee is distinct from any repair charges, and is non-refundable. However, if the device(s) is approved for repair, the diagnostic fee shall be credited towards the total repair cost. 

 


I agree to pay the estimated cost of the repair/service as indicated above. I am aware that additional charges may be incurred should unforeseen issues arise during the repair process. LML Repair will promptly inform me of any such changes prior to proceeding with the repair.

 


I recognize that there may be inherent risks associated with the repair process, including potential data loss or device damage. LML REPAIR bears no responsibility for any data loss or damage that may arise during or after the repair, including any pre-existing conditions, or component failures occurring during attempted repair, testing, or at any other time. LML REPAIR is not responsible for loss of profit or any direct, indirect, special, incidental, or consequential damage occurring during or after device service.

 


LML REPAIR holds the right to keep the device  until all available balance is paid. In the event of invoices not being paid for 14 days from the date of the estimate, by signing below  acknowledges and agrees to transfer the ownership of the device to LML REPAIR. 

 

 

 

LML REPAIR reserves the right to refuse any repairs and services at LML REPAIR own discretion.

 


If I choose not to purchase a protection plan or warranty, I acknowledge that the service is provided "as is." LML Repair cannot accept liability for any post-service issues, pre-existing conditions, data loss, or the compatibility and functionality of third-party accessories.

 I understand and agree to LML REPAIR on their strict NO REFUND POLICY.

 All trade-ins are subject to a thorough assessment to determine their condition and eligibility for discounts. Only devices meeting the specified criteria for trade-ins will be considered. Devices must be in good working condition with no major defects. Discounts resulting from trade-ins will be applied towards the total cost of the repair service or product purchase, as specified by our pricing structure. The trade-in value is determined solely at the discretion of our technicians based on the condition and market value of the device. Trade-ins not meeting the required standards will not be eligible for discounts. In such cases, the trade-in value will not be applied to the repair service or product purchase. Upon acceptance of the trade-in value and application of the discount, the customer relinquishes ownership of the traded device to LML Repair. Customers are responsible for removing all personal data and performing a factory reset on traded devices before submission. LML Repair will not be liable for any data left on the device. Once a trade-in is accepted, the customer acknowledges that the traded device will not be returned, and no warranty is provided for the trade-in value applied. LML Repair reserves the right to make the final decision on the eligibility of trade-ins and the corresponding discounts.


Release of Liability:

 


I hereby release LML Repair, its employees, and technicians from any liability pertaining to damages, losses, or injuries that may occur due to the repair/service executed on my device. I also release LML Repair from any liability for any loss of data or personal information that may occur during the repair process. I confirm that I've received the services to my satisfaction.

 


By affixing my signature to this release form, both parties acknowledge and accept the terms and conditions outlined above.
      </pre>

      <section>
        <input name="" type="checkbox" autocomplete="" autofocus required />
        <label for="">I agree to terms & conditions.</label>
      </section>

      <button type="submit">Submit</button>
    </form>

    <%- include('../components/footer.ejs') %>
  </body>
</html>
