<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <%- include('../components/header.ejs') %>

    <h1>Forms</h1>
    <div>
      <a href="forms/general">General Release Form </a>
    </div>
    <div>
      <a href="forms/video">Video Consent and Release Form </a>
    </div>
    <div>
      <a href="forms/loaner">Loaner Phone Agreement Form </a>
    </div>

    <%- include('../components/footer.ejs') %>
  </body>
</html>
